# Salesforce DX
.sfdx/
.rush/
.npm/
.DS_Store
node_modules/
coverage/
tmp/
test-results/


# Local files
.vscode/
.idea/
*.log


# Salesforce Auth Files
*.json
*.org
*.dup
sf.log


# Scratch orgs
**/orgs/**
**/cache/**
**/auth/**


# OS files
Thumbs.db


# VSCode settings
.history/


# LWC temporary caches
**/lwc/**/*.xml.bak
**/__tests__/**/coverage/
**/__tests__/**/.jest/


# Ignore Salesforce create commands output
release/
mdapi_output/


# GitHub
.env
.env.local


# Misc
*.zip
*.tmp
